#implemento1{
    margin-left: auto;
    margim-rigth: auto;
    width: 550px;
    float: right;
    margin: 0 0 10px 10px;
  }
  
  #rodape{
    margin-right: 3px;
    vertical-align: middle;
    width: 940px;
  }
  
  #rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
  }
  
  p{
    font-family: monospace;
    text-align: justify;
  }
  h1{
    font-family: serif;
    color: orange;
  }