#logotipo {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin: 10px 10px 10px 10px;
}
.slogan{
    font-size: 14px;
    padding-right: 35px;
    text-align: center;
    padding-top: 0px;
    /*whidth: 140px*/
    font-family: sans-serif;
}
.menu-opcoes {
    font-family: verdana;
    fott-size: 12;
    color: #003366;
}
.menu-opcoes ul li{
    display: inline;
    /*"margin-left" ele da 20 potos a esquerda neste caso*/
    margin-left: 20px;
}
.form-group-em-sere{
    display: inline;
}
.form-group{
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    font-family: Arial;
}
.form-group-vertical{
    display: block;

}